/** @format */

.g-sport-filter-list-section {
    width: 100%;
    .swiper-wrapper {
        display: flex;
        align-items: center;
        gap: 4px;

        .swiper-slide {
            width: auto!important;
            min-width: 120px!important;
            margin-right: 0 !important;
        }
    }
}
