/** @format */

.g-flash-sale-section {
    width: 100%;

    .swiper-wrapper {
        .swiper-slide {
            width: 200px !important;
            flex-shrink: 0 !important;
            margin-right: 12px !important;
        }
    }
}
