/**
 * @format
 */

.custom-add-coupon-button.ant-btn-background-ghost[disabled],
.custom-add-coupon-button.ant-btn-primary[disabled] {
    color: white !important; 
    opacity: 0.6; 
    cursor: not-allowed;
    border-color: #3b82f6 !important; 
    background-color: #3b82f6 !important; 
}

.custom-add-coupon-button.ant-btn-background-ghost[disabled]:hover,
.custom-add-coupon-button.ant-btn-primary[disabled]:hover {
    color: white !important; 
    opacity: 0.6;
    border-color: #3b82f6 !important;
    background-color: #3b82f6 !important;
}
