/** @format */

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif !important;
    font-optical-sizing: auto;
    letter-spacing: -0.125px;
}

.scroll-on-hover {
    overflow-y: scroll;
}

.scroll-on-hover::-webkit-scrollbar {
    width: 6px;
}

.scroll-on-hover::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
}

.scroll-on-hover:hover::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.4);
}

.ant-popover-inner {
    border-radius: 0px !important;
}

.shadow-primary {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}
